<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-grid [fixed]="true">
  <ion-row class="ion-align-items-center">
    <ion-col>
      <ion-list>
        <div class="ion-padding-start">
          <!-- debe ser alfanumerico-->
          <ion-input label="Usuario" labelPlacement="stacked" 
          [(ngModel)]="username" [counter]="true" maxlength="8" minlenght="3" 
          helperText="Usuario debe tener 3 a 8 carácteres."
          [value]="username" (ionInput)="onInputUsername($event)" #inputUsername
          required></ion-input>
        </div>
        <div class="ion-padding-start">
          <!-- debe ser 4 numeros-->
          <ion-input id="password-input" label="Password" type="password" labelPlacement="stacked" 
          [(ngModel)]="password" maxlength="4" minlenght="4" 
          helperText="Contraseña deben ser 4 números."
          [value]="password" (ionInput)="onInputPassword($event)" #inputPassword
          required><ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
        </div>
        <ion-button [disabled]="!(validPass&&validUser)" (click)="enviarDatos()">Ingresar</ion-button>
      </ion-list>
      
    </ion-col>
  </ion-row>
</ion-grid>
