<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <!-- contenido aqui -->
    <ion-list>
      <ion-item>
        <!-- debe ser alfanumerico-->
        <ion-input label="Usuario" labelPlacement="stacked"
        [(ngModel)]="username" maxlength="8" minlenght="3"
        required>
      </ion-input>
      </ion-item>
      <ion-item>
        <!-- debe ser 4 numeros-->
        <ion-input id="password-input" label="Password" type="password" labelPlacement="stacked"
        [(ngModel)]="password" maxlength="4" minlenght="4"
        required><ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
      </ion-item>
      <ion-button (click)="ingresar()">Ingresar</ion-button>
      <ion-button [disabled]="true">Registrarse</ion-button>
    </ion-list>
  </div>
</ion-content>