<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-segment value="misDatos">
        <ion-segment-button [(ngModel)]="segmento">
          <ion-label>Mis Datos</ion-label>
        </ion-segment-button>
        <ion-segment-button value="experienciaLaboral">
          <ion-label>Experiencia Laboral</ion-label>
        </ion-segment-button>
        <ion-segment-button value="certificados">
          <ion-label>Certificados</ion-label>
        </ion-segment-button>
      </ion-segment>  
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <app-certificados></app-certificados>
    <app-experiencia-laboral></app-experiencia-laboral>
    <!-- contenido -->
  </div>
</ion-content>