<ion-content [fullscreen]="true">
  <div class="container">
    <ion-list>
      <ion-item>
        <ion-label>Usuario: {{username}}</ion-label>
      </ion-item>
      <ion-list-header> Información Adicional</ion-list-header>
      <ion-item>
        <ion-input label="Nombre" [(ngModel)]="nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Apellido" [(ngModel)]="apellido"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="school" slot="start"></ion-icon>
        <ion-select label="Nivel de Educación" placeholder="Seleccione una opcion:" [(ngModel)]="educacion">
          <ion-select-option value="Primaria">Primaria</ion-select-option>
          <ion-select-option value="Secundaria">Secundaria</ion-select-option>
          <ion-select-option value="Superior">Superior</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Fecha de Nacimiento</ion-label>
        <ion-datetime-button datetime="fechnac"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime locale="es-ES" [firstDayOfWeek]="1" presentation="date" [showDefaultButtons]="true" [(ngModel)]="fechnac" id="fechnac" (ionChange)="formatFechnac()"></ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>
    <ion-button id="mostrar">Mostrar</ion-button>
    <ion-button (click)="guardar()">Guardar</ion-button>
    </ion-list>
    <ion-alert trigger="mostrar" header="Su nombre es {{nombre}} {{apellido}}." subHeader="Nivel educación: {{educacion}}" message="Fecha de Nacimiento:{{formatedFechnac}}" [buttons]="alertButtons"></ion-alert>
  </div>  
</ion-content>
